.img{
  background-image: url("./assets/UserAssets/Web_150DPI-20191106_WeWork_Gateway-1-Salt-Lake-City_004-1120x630.jpg");
    border-image:fill 0 linear-gradient(rgba(34, 25, 25, 0.259),#181313ec);
  background-size: cover ;
  width: 100%;
  height: 100%;
}

.border-gradient {
  border: 1px solid transparent; /* Set a transparent border */
  border-image: linear-gradient(to right, rgba(34, 25, 25, 0.259), #e43333ec) 1; /* Define the border gradient */
  background-size: cover ; 
}


.img2{
  background-image: url("./assets/UserAssets/Web_150DPI-20191106_WeWork_Gateway-1-Salt-Lake-City_004-1120x630.jpg");
}


.img3{
  background-image: url("./assets/UserAssets/Web_150DPI-20191106_WeWork_Gateway-1-Salt-Lake-City_004-1120x630.jpg");
}


.loginimg{
  background-image: url("./assets/UserAssets//cropwallpaper.jpg");
  background-size:cover; 
  background-repeat:no-repeat; 
  background-position:center;
  
}


/* .PaymentBgImg{
  background-image: url("./assets/logos/gys-high-resolution-logo-black-transparent.png");
  background-size:10%; 
  background-repeat:space; /* Prevent image repetition for both images */
  /* background-position:left;  */
/* } */ 

.footerimg{
  background-image: url("./assets/logos/logowhite.png");
  background-size:cover; 
  
}

.Backgroundloginimg{
  background-image: url("./assets/UserAssets/background.jpg");
  background-size:cover; 
  background-repeat:no-repeat; 
  background-position:center;
  
}

.BackgroundSigninimg{
  background-image: url("./assets/UserAssets/background111.jpg");
  background-size:cover; 
  background-repeat:no-repeat; 
  background-position:center;
  
}
/* .PasswordChangePro{
  background-image: url("./assets/UserAssets/");
  background-size:cover; 
  background-repeat:no-repeat; 
  background-position:center;
  
} */


.signinimg{
  background-image: url("./assets/UserAssets/top-view-tidy-Crop.jpg");
  background-size:cover; 
  background-repeat:no-repeat; 
  background-position:center;
  
}


.forgot{
  background-image: url("./assets/UserAssets/4841115.jpg");
  background-size:cover; 
  background-repeat:no-repeat; 
  background-position:center; 
  
}
.Changeproimg{
  background-image: url("./assets/UserAssets/PassChangeImg.jpg");
  background-size:cover; 
  background-repeat:no-repeat; 
  background-position:center; 
  
}


.Adminloginimg{
  background-image: url("./assets/UserAssets/depositphotos_167655496-stock-photo-directly-above-view-of-human.jpg");
  background-size:cover; 
  background-repeat:no-repeat; 
  background-position:center;
  
}

.seat-img1{
  background-image: url("./assets/UserAssets/Web_150DPI-20191106_WeWork_Gateway-1-Salt-Lake-City_004-1120x630.jpg");
  background-size:cover; 
  background-repeat:no-repeat; 
  background-position:center;
}

.tableimg{
  background-image: url("./assets/UserAssets/table.jpg");
  background-size:cover; 
  background-repeat:no-repeat; 
  background-position:center;
}



.slider{
  width: 100%;
  height: 5px;
  background-color:#cdd9ed;
}

.slider .thumb{
  width: 23px;
  height: 23px;
  cursor: grab;
  background: #fff;
  border-radius: 50%;
  border: 2px solid #275efe;
  top: -10px;
}
